.root{
    -fx-background-color: #383838;
    -fx-cursor:hand;
}
.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-effect: innershadow( gaussian, greenyellow, 8, 0.0, 2, 0);
    
    
   // -fx-paint: linear-gradient(from 0px 0px to 0px 50px, red, green 50%, blue 99%, white);
}
.button{
    -fx-text-fill: #FFFFFF; 
    -fx-background-color: #4b4b4b;
    -fx-border-radius: 35;
    -fx-background-radius: 35;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-effect: innershadow( gaussian, greenyellow, 8, 0.0, 2, 0);

}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #e8e8e8;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #462300; 
}
 
.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 2; 
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}