// JavaFX CSS Reference Guide: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html

.root{
    -fx-background-color: #383838;
    -fx-cursor:hand;
}

.context-menu{
    -fx-background-color: #383838;
}

.menu-bar {
     -fx-background-color: #383838;
}

// Seems to be missing something, because the background color
// is still showing some white when this is applied
.menu-item {
     -fx-background-color: #383838;
     -fx-text-fill: #e8e8e8;
     
}

.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-effect: innershadow( gaussian, greenyellow, 8, 0.0, 2, 0);
}
.button{
    -fx-text-fill: #FFFFFF; 
    -fx-background-color: #4b4b4b;
    -fx-border-radius: 35;
    -fx-background-radius: 35;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-effect: innershadow( gaussian, greenyellow, 8, 0.0, 2, 0);

}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #e8e8e8;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #462300; 
}
 
.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 2; 
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}